{%extends "homepage.html" %}

{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .table{
            border: 1;
            border-style: dashed;
            background: linear-gradient(to right, #edb0c4,#f3d290,#edb0c4) ;
        }
        .abc{
            background: linear-gradient(to right,#daaaf3,#f3d290,#daaaf3 ) ;
        }
    </style>
</head>
<body>

<div class="abc">
<div class="container">
<h1>!! Address Details !!</h1>
<form method="post">
    {%csrf_token%}
<table class="table" >
    <tr><td>Enter Address</td>
    <td><input type="text" name="address" placeholder="Address" class="form-control" required/></td></tr>
    <tr><td>Landmark</td>
        <td><input type="text" name="landmark" class="form-control" placeholder="Landmark" required/></td></tr>

        <tr><td>State</td>
            <td><input type="text" name="state" class="form-control" placeholder="State" required/></td></tr>
                
        <tr><td>Pin Code</td>
            <td><input type="number" name="pin" class="form-control" placeholder="Pin Code" required/></td></tr>
        <tr>
<td align="center"><button type="submit" onclick="getConfirm('myform{{item.prdt.id}}')" class="btn btn-success">Make Payment</button></td>
</tr>
</table>
</form>
</div>
</div>
</body>
</html>
{%endblock%}