{%extends "homepage.html"%}


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .abc{
            border: 1;
            border-style: dashed;
        }
        .bcd{
            background: linear-gradient(to right, #daaaf3,#f3d290,#daaaf3) ;
        }
    </style>
</head>
<body>
    
<script type="text/javascript">
    function getConfirm(myid)
    {
        result = confirm("Are you sure you want to delete(y/n)?");
        if(result)
        {           
           myform =  document.getElementById(myid);
           myform.action = "/RemoveItem"
           myform.submit();
        }
    }
    function increment(myid)
    {
        txtQty = document.getElementById(myid);
        if(txtQty.value < 10)
        {
            txtQty.value = parseInt(txtQty.value)+1;
        }
    }
    function decrement(myid)
    {
        txtQty = document.getElementById(myid);
        if(txtQty.value > 1)
        {
            txtQty.value = parseInt(txtQty.value)-1;
        }
    }

</script>
<center>
<div class="bcd">
<div class="container">
<h1>Cart Details</h1>
<div class="abc">
<table class="table">
    <tr><th>Name</th><th>Description</th><th>Price</th>
        <th>&nbsp;&nbsp;Quantity</th><th>Sub Total</th></tr>
    {%for item in items%}
    <form method="post" id="myform{{item.prdt.id}}">
        {%csrf_token%}
    
    <tr>
        <td><input type="hidden" name="prdtid" value="{{item.prdt.id}}"/>
            {{item.prdt.pname}}</td>
        <td>{{item.prdt.description}}</td>
        <td>{{item.prdt.price}}</td>        
        <td>&nbsp;&nbsp;<a onclick="decrement('qty{{item.prdt.id}}')">&LeftTriangleBar;</a>

            <input type="text"  name="qty" id="qty{{item.prdt.id}}" value=" {{item.qty}} " size="1"/>
           
            <a onclick="increment('qty{{item.prdt.id}}')">&RightTriangleBar;</a>

            &nbsp;<button class="btn btn-danger" type="submit" 
                    name="action" value="update">Update</button>
        </td>
        <td>{% widthratio item.qty 1 item.prdt.price %}</td>
        <td><a onclick="getConfirm('myform{{item.prdt.id}}')" 
            name="action" value="remove">Remove</a> </td>
        
    </tr>
</form>
    {%endfor%}
</table>
</div>
</div>
<hr/>
<h3>Total : {{request.session.total}}</h3>
<hr/>
</div>
<a href="/addr" button class="btn btn-success">Buy Now</a>
</center>
</body>
</html>
{%endblock%}